<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong></p>
<p><%= @restaurant.address %></p>

<p><strong>Phone number:</strong></p>
<p><%= @restaurant.phone_number %></p>

<p><strong>Category:</strong></p>
<p><%= @restaurant.category %></p>



<p><strong>Add a review:</strong></p>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content %>
  <%= f.submit class: 'btn btn btn-primary' %>
<% end %>

<%= link_to 'Back to all restaurants', restaurants_path %>
